.jumbotron {
    margin-bottom: 0;
}

#titre {
    margin-top: 10vh;
}
#carouselQuestions {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
    
}

.carousel-inner {
    height: 100%;

}

.carousel-content {
    font-size: 1.8em;
    height: 35vh;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 2em;
}

.section-pale {
    background: #fff;
}

.section-foncee {
    background: #e9ecef;
}

h2 {
    padding: 1em 0 1em 0;
}

@media screen and (max-width: 450px){
    #titre {
        display: none;
    }

    .carousel-content {
        font-size: 1.2em;
    }
}