#titre {
    margin-top: 10vh;
}
#carouselQuestions {
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 100%;
    min-height: 250px;
}

.carousel-inner {
    height: 100%;

}

.carousel-content {
    font-size: 1.8rem;
    height: 35vh;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding: 4rem;
}


h2 {
    padding: 0 0 3rem 0;
}

.quote {
    font-weight: 600;
    font-size: 1.5rem;
}



#copyright {
    font-size: 0.75rem;
}

@media screen and (max-width: 450px){
    #titre {
        margin-top: 0;
    }


    .carousel-content {
        font-size: 1.2rem;
    }
}